target/
.project
.classpath
.settings/
.idea/
.patch
.surefire-*
*.iml
*.ipr
*.iws
.DS_Store
reports/
.gradle/
.directory
build/
**/releases/**/*.tgz
**/product/**/*.pivotal
**/blobs/**/*.war
**/resources/*.war
